In [1]:
import pickle

import pandas as pd
import numpy as np
from seaborn import heatmap, PairGrid, kdeplot
import matplotlib.pyplot as pl
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_pickle('../PickleJar/df_3_ML4aphy.pkl')

In [3]:
df.head().T

,0,1,2,3,4
oisst,19.57,2.54,0.78,1.79,24.67
etopo2,462,3549,330,2193,4369
sola,201.5,4.6,27.8,38.6,203.5
solz,48.7,51.2,52.7,45.9,28
sat_rho_rc412,0.0120876,0.0105251,0.00444289,0.00586911,0.009464
sat_rho_rc443,0.0124167,0.0106362,0.00438667,0.00586578,0.008968
sat_rho_rc490,0.0117387,0.00961355,0.00424045,0.00553467,0.00771911
sat_rho_rc510,0.0105793,0.0079127,0.0036856,0.0046431,0.0059736
sat_rho_rc555,0.0091096,0.0062244,0.0026462,0.0033262,0.0041613
sat_rho_rc670,0.0066549,0.004794,0.0011773,0.0017469,0.0025167
datetime,1997-10-11 09:32:00,2000-02-22 17:00:00,2001-02-19 16:10:00,2002-01-22 13:45:00,1997-09-27 11:29:00
lat,39.29,-61.45,-61.29,-60.999,24.1392
lon,25.11,-62.299,-56.29,-56.498,-20.9995
aphy411,NaN,NaN,0.0241,0.01886,NaN
aphy443,NaN,NaN,0.03078,0.02283,NaN
aphy489,NaN,NaN,0.02057,0.01464,NaN
aphy510,NaN,NaN,0.01261,0.00937,NaN
aphy555,NaN,NaN,0.00385,0.0031,NaN
aphy670,NaN,NaN,0.0104,0.00935,NaN

In [6]:
l = [412, 443, 490, 510, 555, 670]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 19 columns):
oisst            495 non-null float64
etopo2           495 non-null float64
sola             495 non-null float64
solz             495 non-null float64
sat_rho_rc412    495 non-null float64
sat_rho_rc443    495 non-null float64
sat_rho_rc490    495 non-null float64
sat_rho_rc510    495 non-null float64
sat_rho_rc555    495 non-null float64
sat_rho_rc670    495 non-null float64
datetime         495 non-null datetime64[ns]
lat              495 non-null float64
lon              495 non-null float64
aphy411          165 non-null float64
aphy443          167 non-null float64
aphy489          167 non-null float64
aphy510          167 non-null float64
aphy555          165 non-null float64
aphy670          167 non-null float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 77.3 KB

In [5]:
df.drop(['sola'], axis=1, inplace=True)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
oisst,495.0,19.066020,6.983298,0.78000,13.775000,19.600000,25.120000,30.510000
etopo2,495.0,768.961616,1410.753061,0.00000,20.500000,156.000000,519.000000,5529.000000
solz,495.0,31.291919,14.525706,0.00000,20.650000,32.300000,42.600000,69.900000
sat_rho_rc412,495.0,0.006742,0.003876,0.00000,0.003706,0.005988,0.008865,0.020979
sat_rho_rc443,495.0,0.007025,0.003640,0.00000,0.004168,0.006625,0.008941,0.020130
sat_rho_rc490,495.0,0.007243,0.003453,0.00000,0.004514,0.006866,0.009144,0.018906
sat_rho_rc510,495.0,0.006734,0.003350,0.00000,0.004123,0.005819,0.008748,0.018512
sat_rho_rc555,495.0,0.006170,0.003526,0.00000,0.003430,0.005138,0.007997,0.019804
sat_rho_rc670,495.0,0.003537,0.002458,0.00000,0.001666,0.002724,0.004723,0.011320
lat,495.0,28.887491,20.588358,-67.64300,26.936900,32.400000,42.350000,79.000000
lon,495.0,-70.959878,41.512573,-170.19800,-83.391000,-76.013200,-66.999000,171.716000
aphy411,165.0,0.044600,0.075210,0.00199,0.013120,0.022590,0.039900,0.566390
aphy443,167.0,0.051823,0.083448,0.00256,0.016800,0.027810,0.049830,0.587770
aphy489,167.0,0.032713,0.049682,0.00181,0.010035,0.018020,0.032795,0.285550
aphy510,167.0,0.021539,0.037574,0.00103,0.005345,0.010270,0.019860,0.215190
aphy555,165.0,0.008329,0.017483,0.00000,0.001140,0.003280,0.007240,0.132730
aphy670,167.0,0.022059,0.051120,0.00056,0.002815,0.006630,0.018895,0.400580

In [8]:
df.to_pickle('../PickleJar/Interim/df_4_ML4aph.pkl')

Pre-processing plan:
* Standardize sat_rho_rcvvv
* Standardize oisst
* Log-transform then standardize etopo2 (depth)
* Log-transform then standardize chl
* create pairwise distance matrix for possible GP use:
    - geodesic distance from lat/lon
    - time difference in floating point doy
    - temperature
    - solz 
    - bathymetry
* pickle transformers for application to out-of-sample sets and reverse transformations.
* pickle pairwise distance matrices